@use 'variables' as *;

.footer {
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    width: 100vw;
    align-items: center;
    background-color: $heavy-green;
}
.email {
    margin-left: 1rem;
    color: $pale-green;
    font-size: $medium;
}
.logo {
    width: 4rem;
    height: auto;
    margin-top: 1rem;
    margin-right: 1rem;
}
.logo:hover {
    cursor: pointer;
}