@use 'variables' as *;

.mainHome {
    display: flex;
    min-height: calc(100vh - 12rem );
    z-index: 0;
    background-color: $pale-green;
}
.presentation {
    width: 50vw;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items:center;
}
.presentation p {
    padding: 0 10rem;
    font-size: $medium-large;
}
.picture {
    overflow: hidden;
    margin: auto;
    border: 0.1rem;
    border-radius: 3rem;
    position: relative;
    width: 30rem;
    height: 35rem;
}
.photo {
    max-width: 100%;
    height: auto;
}