@use 'variables' as *;

.header {
    background-color: $dark-green;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    color: $light-green;
    font-size: 20px;
}
.headerTop {
    position: relative;
    display: flex;
    justify-content: space-between;
}
.logo {
    position: absolute;
    overflow: hidden;
    top:50%;
}
.navList {
    display: flex;
    list-style: none;
}