@use 'variables' as *;

.header {
    background-color: $dark-green;
    position: fixed;
    overflow: hidden;
    top: 0;
    width: 100vw;
    color: $light-green;
    font-size: $medium-large;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: $small;
}
.name {
    padding-left: $small;
}
.navList {
    display: flex;
    list-style: none;
    margin-right: $medium;
    padding: 0;
}
.navList a {
    padding: $small;
}
.navList a:hover {
    cursor: pointer;
    background-color: $pale-green;
    color: $dark-green;
    border-radius: 0.4rem;
}